<div class="container-fluid navbar-style">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e9ecef;">
                <div class="container-fluid">
                    <figure class="figure nav-fig">
                        <img src="/images/watermark-logo.png" class="figure-img img-fluid rounded" alt="..."
                            style="height:32px">
                        <figcaption class="figure-caption" id="navbar-logo">WaterMark</figcaption>
                    </figure>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item m-auto">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><img src="/images/administrator.png"
                                        alt="" style="height:32px"></a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a href="/users/about" class="dropdown-item">View Profile</a></li>
                                    <li><a class="dropdown-item" href="/users/logout">SignOut</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>